.speech{
    font-family:'Times New Roman' ;
    font-size: 17px;
    color: black;
}
.stage-direction :hover{
    
    font-family:'Arial Narrow' ;
    font-size : 17px;;
    background-color :lightskyblue;
    color:deeppink;



}
.PARKER{
    
    color:purple;


}
.LORD-DARLINGTON{
    
    color:darkolivegreen;

}
.LADY-WINDERMERE{
    
    color:midnightblue;

}