.name{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 17px;
    color: black; 
}
.speech{
    font-family:'Times New Roman' ;
    font-size: 17px;
    color: black;
}
.stage-direction{
    
    font-family:'Arial Narrow' ;
    font-size : 17px;;
    background-color:paleturquoise;
    color:black;
}
.stage-direction:hover{
    background-color:darkturquoise;
    color:firebrick;
}

.PARKER{
    
    color:purple;


}
.LORD-DARLINGTON{
    
    color:darkolivegreen;

}
.LADY-WINDERMERE{
    
    color:midnightblue;

}
table{
    border: solid;
    padding: 30px 35px 40px;
    margin: 50px 50px;
    width: 60%; 
  }
  th{
    color:black;
    border: 1px solid black;
    text-align: left;
    background-color:burlywood;

  }
  td{
    color: black;
    border: 1px mixed black;
    text-align: left;
  }

  tr:nth-child(even){
    background-color: skyblue;
  }
  .name:hover{
    text-shadow: 2px 4px 3px rgb(77, 59, 143);
    color:blueviolet;
    filter: pink(3px);
    border: double 2px rgb(15, 15, 15);
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:rgb(17, 17, 17);
  }
  .active {
    background-color:coral;
  }
